python-dotenv==1.0.0
streamlit==1.22.0
langchain_community
langchain_experimental
langchain
huggingface-hub
python-dotenv
faiss-cpu
pymysql
sentence-transformers
chromadb>=0.1.2
tiktoken
protobuf
mysql-connector-python
google-generativeai
