langchain==0.0.282  # Compatible version based on constraints
langchain-core==0.2.26  # Compatible version based on constraints
langchain-community==0.0.1  # Ensure compatibility
langchain-experimental==0.0.1  # Ensure compatibility
huggingface-hub
chromadb
google-generativeai
sentence-transformers
python-dotenv==1.0.0
streamlit==1.22.0
tiktoken==0.4.0
faiss-cpu==1.7.4
protobuf==3.19.0
mysql-connector-python
pymysql
