langchain==0.0.284  # Use a version that is available
langchain-core==0.2.28  # Ensure compatibility with langchain
langchain-community==0.0.1
langchain-experimental==0.0.1
huggingface-hub
chromadb
google-generativeai
sentence-transformers
python-dotenv==1.0.0
streamlit==1.22.0
tiktoken==0.4.0
faiss-cpu==1.7.4
protobuf==3.19.0
mysql-connector-python
pymysql
